.mainLayout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.mainContent {
    flex: 1;
    padding: 1rem;
    background-color: #f4f4f4;
}