.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.centerContainer{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.center{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
