@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: #F8F9FF;
  --btn-secondary: #F3F3F3;
  --txt-primary: #1D2546;
  --txt-secondary: #A0AEC0;
  --fg: #FFFFFF;
  --primary: #3E70C7;
  --btn-hover: #9DC3E7;
  --err-primary: #F64E60;
  --err-secondary: #FFB9C0;
  --err-hover: #FFE3E6;
  --success-primary: #17CB47;
  --success-secondary: #D3FFD3;
  --success-hover: #F2FFF2;

}
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h2, h3{
  color: var(--txt-primary);
  text-align: center;
  align-self: center;
}

button{
  border: none;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

