.passwordContainer {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: var(--fg);
    display: flex;
    justify-content: space-between;
}

.textInput{
    color: var(--txt-primary);
    border: none;
    outline: none;
    background: var(--fg);
}

.eyeIcon svg{
    stroke: var(--txt-secondary);
}